# Project : Using Tensorflow-Keras to predict if a person well refund or not; for the company LendingClub

## The dataset was imported from the Kaggle community https://www.kaggle.com/wordsforthewise/lending-club

### LendingClub it's an american company situated in San Francisco, It was the first company to use the  peer-to-peer lending company

## 1) Loading The Data

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
df = pd.read_csv('lending_club_loan_two.csv')

In [4]:
df.head()

   LoanStatNew                                        Description
0    loan_amnt  The listed amount of the loan applied for by t...
1         term  The number of payments on the loan. Values are...
2     int_rate                          Interest Rate on the loan
3  installment  The monthly payment owed by the borrower if th...
4        grade                             LC assigned loan grade